.blog-content h2 {
    color: #fb923c !important;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: "Dana Medium";
}

.blog-content h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 8px 0;
}

.blog-content p {
    margin: 10px 0;
}

.blog-content ol,
.blog-content ul {
    margin: 10px 18px 10px 0;
    list-style-type: disc;
}

li::marker {
    color: #fb923c !important;
}

.blog-content a {
    text-decoration: underline !important;
    color: #3b82f6 !important;
}

@media screen and (max-width: 480px) {
    .blog-content h2 {
        font-size: 1.05rem;
        line-height: 1.4rem;
    }

    .blog-content h3 {
        font-size: .95rem;
        line-height: 1.2rem;
    }

    .blog-content p,
    li {
        font-size: .85rem;
        line-height: 1.2rem;
    }
}